name: Deploy App to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Get latest code
        uses: actions/checkout@v3

      - name: Copy files to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          port: 22
          script: |
            echo "Connected to EC2 VM"

            echo "doing change directory to new-poc-4"

            cd /home/ec2-user/devops/new-poc-4

            echo "inside new-poc-4"

            echo "pulling latest changes from repo"

            git pull

            cat index.html

            echo "copying contents of index html to root nginx html"

            cat index.html > /usr/share/nginx/html/index.html

            echo "Deployment successful"
